@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(180deg, #8FD9FB 0%, #ffffff 100%);
  background-attachment: fixed;
  color: #404040;
  font-family: 'Roboto', sans-serif;
}

.pb-safe {
  padding-bottom: env(safe-area-inset-bottom, 0px);
}
